.nav-list {
  display: flex;
  width: 595px;
  justify-content: space-between;

  &__item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}
